@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

*::-webkit-scrollbar-track { /* For WebKit-based browsers (Chrome, Safari, newer versions of Opera) */
  background: rgba(189, 85, 85, 0);
}

.dark *::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb { /* For WebKit-based browsers */
  background-color: rgb(192, 192, 192);
  border-radius: 9px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.dark *::-webkit-scrollbar-thumb {
  background-color: #202020;
  border-radius: 9px;
  border: 2px solid rgba(55, 55, 55, 0.2);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}


/* Firefox-specific styling */
@supports (scrollbar-color: silver, rgba(255, 255, 255, 0.2)) {
  *::-moz-scrollbar-track { /* For Firefox */
    background: rgba(240, 240, 240, 0.2);
  }
  .dark *::-moz-scrollbar-track {
    background: rgba(20, 20, 20, 0.2);
  }
  *::-moz-scrollbar-thumb { /* For Firefox */
    background-color: silver;
    border-radius: 9px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  .dark *::-moz-scrollbar-thumb {
    background-color: #202020;
    border-radius: 9px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
}




@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
